.box{
    width: 100%;
    height: 55px;
    background-color: var(--Main);
}
.search{
    padding-top: 6px;
}
.inputField{
    width: 30%;
    height: 35px;
    margin: 0 auto;
    display: block;
    border: 3px solid var(--Border1);
    border-radius: 10px;
}