:root {
    --Main: #6495ed;
}
.box{
    width: 100%;
    height: 40px;
    background-color: var(--Main);
}
.search{
    padding-top: 4px;
}
.inputField{
    width: 30%;
    height: 25px;
    margin: 0 auto;
    display: block;
    border: 2px solid black;
    border-radius: 10px;
}