:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;

  --Main: #FFC8DD;
  --Sec: #FFAFCC;
  --Blue: #A2D2FF;
  --LightBlue: #BDE0FE;
  --BackGround: #CDB4DB;
  --Border1: #81738a;
}
body{
  margin: 0 auto;
}